.imagem{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.imagem2{
    background-image: url('https://i.ibb.co/B2xWv28/Dance-time-Stylish-men-and-woman-dancing-hip-hop-in-bright-clothes-on-green-background-at-dance-hall.jpg');

}

.login {
    width: 250px;
    height: 50px;
    border-radius: 25px;
    bottom: 0;
    margin: 10px;
    color: white;
    background-color: #6329af;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.login:hover {
    color: white;
    background-color:rgb(19, 0, 29);  
}